---
title: cheg325 homework7 SIS 12.5-2
author: kyle wodehouse
date: today
format:
    html:
        self-contained: true
---

starting with the definition of $K_{OW}$ for solute partitioning

$$
K_{\text{OW}, i} = \frac{C_i^O}{C_i^W}
$$

now if we rearrange very very very slightly

$$
C_i^O = K_{\text{OW}, i} C_i^W
$$

now we can relate the concentration in the octanol (as our proxy for fatty tissue) to the concentration of solute in the whole fish if we define $w_\text{B}$ to be the proportion of the fish that is fatty tissue. right below (12.5-9) homeboy sandler says $w_\text{B} = 0.05$ or so for a fish. let phase $F$ be the fish phase

$$
C_i^F = w_\text{B}  C_i^O = w_\text{B} K_{\text{OW}, i} C_i^W
$$

another way sandler describes this is by making a $K_{\text{B,W}}$ where phase B is biotia or some other nice sounding word. this is functionally the same

now we can do all this lovely math

In [31]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML


data = {
    'name': ['Aldrin', 'Dieldrin', 'Lindane', 'Diazinon'],
    'solubility': [27, 140, 7000, 40000],
    'log Kow': [5.52, 4.32, 3.61, 3.31]  
}

df = pd.DataFrame(data)
df

       name  solubility  log Kow
0    Aldrin          27     5.52
1  Dieldrin         140     4.32
2   Lindane        7000     3.61
3  Diazinon       40000     3.31

In [29]:
df['Kow'] = np.power(10.0, df['log Kow'], dtype=float)
df['fish concentration (g/L)'] = np.round(0.05 * df['solubility'] * df['Kow'] * 1e-6, 3)
display(HTML(df[['name', 'fish concentration (g/L)']].to_html(index=False)))

In [30]:
# filler