---
title: cheg325 hw2q2 coding for tedious math
author: k.wodehouse
date: today
format:
    html:
        self-contained: true
---

These calculations are extremely easy, but doing them by hand is prone to errors. i put the data in a tab-separated text file and imported it here as a pandas dataframe to lower the chances of human errors.

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('a3.txt', sep='\t', index_col=0)
df

         h_formation  g_formation
species
N2               0.0          0.0
H2               0.0          0.0
NH3            -46.1        -16.5
C3H8          -104.7        -24.3
C2H4            52.5         68.5
CH4            -74.5        -50.5
CaCO3        -1206.9      -1128.8
CaO           -635.1       -604.0
CO2           -393.5       -394.4
CO            -110.5       -137.2
H2O           -241.8       -228.6

### (a)

In [3]:
species = ['N2', 'H2', 'NH3']
coeffs = np.array([-1,-3,2])

new_df = df.loc[species]
H_form = (new_df['h_formation'] * coeffs).sum()
G_form = (new_df['g_formation'] * coeffs).sum()
print(f'∆H rxn: {H_form:.1f} kJ/mol')
print(f'∆G rxn: {G_form:.1f} kJ/mol')

∆H rxn: -92.2 kJ/mol
∆G rxn: -33.0 kJ/mol

### (b)

In [4]:
species = ['C3H8', 'C2H4', 'CH4']
coeffs = np.array([-1, 1, 1])

new_df = df.loc[species]
H_form = (new_df['h_formation'] * coeffs).sum()
G_form = (new_df['g_formation'] * coeffs).sum()
print(f'∆H rxn: {H_form:.1f} kJ/mol')
print(f'∆G rxn: {G_form:.1f} kJ/mol')

∆H rxn: 82.7 kJ/mol
∆G rxn: 42.3 kJ/mol

### (c)

In [5]:
species = ['CaCO3', 'CaO', 'CO2']
coeffs = np.array([-1, 1, 1])

new_df = df.loc[species]
H_form = (new_df['h_formation'] * coeffs).sum()
G_form = (new_df['g_formation'] * coeffs).sum()
print(f'∆H rxn: {H_form:.1f} kJ/mol')
print(f'∆G rxn: {G_form:.1f} kJ/mol')

∆H rxn: 178.3 kJ/mol
∆G rxn: 130.4 kJ/mol

### (d)

In [6]:
species = ['CO', 'H2', 'CH4', 'CO2', 'H2O']
coeffs = np.array([-4, -8, 3, 1, 2])

new_df = df.loc[species]
H_form = (new_df['h_formation'] * coeffs).sum()
G_form = (new_df['g_formation'] * coeffs).sum()
print(f'∆H rxn: {H_form:.1f} kJ/mol')
print(f'∆G rxn: {G_form:.1f} kJ/mol')

∆H rxn: -658.6 kJ/mol
∆G rxn: -454.3 kJ/mol

In [7]:
# this is filler text.